# os
.env
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
.nvmrc
temp_nvm_script.sh

# composer
/vendor/
/vendor/*
!*/vendor/
lefthook.yml

# wordpress
/upgrade/
/uploads/
/mu-plugins/*
/plugins/*

# theme
/themes/*
!/themes/mitchcanter-2025

# plugins
!plugins/mc-broken-image-checker

# Query Monitor db file
/db.php

# cache
/cache
/wflogs
/wp-rocket-config