<!-- wp:group {"metadata":{"name":"Wrapper"},"style":{"dimensions":{"minHeight":"100vh"}},"backgroundColor":"dark-side","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-dark-side-background-color has-background" style="min-height:100vh"><!-- wp:columns {"align":"full","style":{"spacing":{"blockGap":{"left":"0"}}}} -->
    <div class="wp-block-columns alignfull"><!-- wp:column {"verticalAlignment":"stretch","width":"360px","metadata":{"name":"Header Column"},"style":{"border":{"width":"0px","style":"none"},"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"blockGap":"0"}},"backgroundColor":"coarse-wool","layout":{"type":"default"}} -->
    <div class="wp-block-column is-vertically-aligned-stretch has-coarse-wool-background-color has-background" style="border-style:none;border-width:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:360px"><!-- wp:group {"style":{"dimensions":{"minHeight":"100vh"},"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="min-height:100vh;padding-top:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large)"><!-- wp:group {"metadata":{"name":"Navigation Section"},"style":{"dimensions":{"minHeight":""},"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"position":{"type":""}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--small);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--small);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:navigation {"ref":5,"textColor":"primary","backgroundColor":"coarse-wool","overlayMenu":"always","icon":"menu","overlayBackgroundColor":"coarse-wool","overlayTextColor":"primary","fontSize":"large"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"header","metadata":{"name":"Header","categories":["header"],"patternName":"ollie/header-light"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","right":"var:preset|spacing|medium","left":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|medium"},"elements":{"link":{"color":{"text":"var:preset|color|main"}}},"border":{"width":"0px","style":"none"},"position":{"type":""},"dimensions":{"minHeight":""}},"textColor":"primary","layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"left","flexWrap":"wrap"}} -->
    <header class="wp-block-group alignfull has-primary-color has-text-color has-link-color" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:image {"aspectRatio":"1","scale":"cover","sizeSlug":"large","style":{"border":{"radius":"20em","width":"5px"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"borderColor":"base"} -->
    <figure class="wp-block-image size-large has-custom-border" style="margin-top:0;margin-bottom:0"><img src="https://mitchcanter.me/wp-content/uploads/2022/04/Mitch-Headshot-2021-sq@0.75x.jpg" alt="" class="has-border-color has-base-border-color" style="border-width:5px;border-radius:20em;aspect-ratio:1;object-fit:cover"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:group {"metadata":{"name":"Section 1"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"center"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|brown-knapweed"}}},"typography":{"letterSpacing":"0.25em","fontSize":"0.75rem"}},"textColor":"brown-knapweed","fontFamily":"primary"} -->
    <p class="has-brown-knapweed-color has-text-color has-link-color has-primary-font-family" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:0.75rem;letter-spacing:0.25em"><strong>HELLO, I'M</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"typography":{"fontSize":"1.3rem"}}} -->
    <h1 class="wp-block-heading" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:1.3rem">mitch canter</h1>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"metadata":{"name":"Section 2"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|bell-heather"}}},"typography":{"letterSpacing":"0.25em","fontSize":"0.75rem"}},"textColor":"bell-heather","fontFamily":"primary"} -->
    <p class="has-bell-heather-color has-text-color has-link-color has-primary-font-family" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:0.75rem;letter-spacing:0.25em"><strong>I'M A</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:heading {"textAlign":"left","level":1,"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"typography":{"fontSize":"1.3rem"}}} -->
    <h1 class="wp-block-heading has-text-align-left" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:1.3rem">director of engineering</h1>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"metadata":{"name":"Section 3"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|apricot-flower"}}},"typography":{"letterSpacing":"0.25em","fontSize":"0.75rem"}},"textColor":"apricot-flower","fontFamily":"primary"} -->
    <p class="has-apricot-flower-color has-text-color has-link-color has-primary-font-family" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:0.75rem;letter-spacing:0.25em"><strong>LIVING IN</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"typography":{"fontSize":"1.3rem"}}} -->
    <h1 class="wp-block-heading" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:1.3rem">nashville, tn.</h1>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"metadata":{"name":"Header Meta + Social"},"style":{"spacing":{"blockGap":"var:preset|spacing|small","margin":{"top":"var:preset|spacing|x-large"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left","verticalAlignment":"top"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--x-large)"><!-- wp:heading {"className":"\u002d\u002dis-rainbow-hover","style":{"typography":{"fontStyle":"normal","fontWeight":"900"},"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"margin":{"top":"0","bottom":"0"}}},"fontSize":"medium"} -->
    <h2 class="wp-block-heading --is-rainbow-hover has-medium-font-size" style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:900">mitch canter</h2>
    <!-- /wp:heading -->
    
    <!-- wp:social-links {"iconColor":"primary","iconColorValue":"rgb(255, 255, 255)","openInNewTab":true,"size":"has-normal-icon-size","className":"is-style-logos-only","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|small"}}},"layout":{"type":"flex","justifyContent":"left","orientation":"horizontal"}} -->
    <ul class="wp-block-social-links has-normal-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://bsky.app/profile/that.mitchcanter.me","service":"bluesky"} /-->
    
    <!-- wp:social-link {"url":"https://github.com/thatmitchcanter","service":"github"} /-->
    
    <!-- wp:social-link {"url":"https://www.linkedin.com/in/thatmitchcanter/","service":"linkedin"} /-->
    
    <!-- wp:social-link {"url":"https://twitch.tv/CMDRMitchcraft","service":"twitch"} /-->
    
    <!-- wp:social-link {"url":"https://www.youtube.com/@CMDRMitchcraft","service":"youtube"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:group --></header>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"top","width":"100%","metadata":{"name":"Content Column"},"backgroundColor":"dark-side"} -->
    <div class="wp-block-column is-vertically-aligned-top has-dark-side-background-color has-background" style="flex-basis:100%"><!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|xx-large","top":"var:preset|spacing|xx-large","right":"var:preset|spacing|large","left":"var:preset|spacing|large"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"dimensions":{"minHeight":"100vh"}},"textColor":"primary","layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"center"}} -->
    <main class="wp-block-group has-primary-color has-text-color has-link-color" style="min-height:100vh;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-right:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--xx-large);padding-left:var(--wp--preset--spacing--large)"><!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="wp-block-heading has-text-align-center">Page Not Found</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","textColor":"secondary"} -->
    <p class="has-text-align-center has-secondary-color has-text-color">Unfortunately, the page you are looking for no longer exists, or has been moved. Please try searching for your content below.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","right":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}}},"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-tertiary-background-color has-background" style="padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:search {"showLabel":false,"placeholder":"Search","widthUnit":"px","buttonText":"Search","backgroundColor":"brown-knapweed"} /--></div>
    <!-- /wp:group --></main>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->